
@{
    ViewBag.Title = "Xác nhận đơn hàng";
}

<span style="text-align:center;">
    <h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn.<br />Xin cảm ơn</h2>
</span>
<a href="@Url.Action("Index","ShopSecondHand")">
    <img src="~/Content/Images/back.jpg" width="100px" height="100px" />
</a>