
@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    
    <h3 style="font-size:26pt;font-family:Tahoma"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ Admin</h3>
</p>


