
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <link href="~/Content/style.css" rel="stylesheet" />
    <!---- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"></!-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0" nonce="DRnzoawa"></script>
    <div class="header">
        <div class=" container">
            <div class="navbar">
                <div class="logo">
                    <img src="~/Content/Images/logo.png" width="300px" height="300px" />
                </div>
                <nav>
                    <ul id="MenuItem" style="font-family: Tahoma">
                        <li><a href="#home">TRANG CHỦ</a></li>
                        @Html.Action("BoSuuTap", "ShopSecondHand")
                        <li><a href="#home">CALA |About Us</a></li>        
                        <li><a href="#">Xin chào @Session["Taikhoan"]</a></li>
                    </ul>
                </nav>
                <div>
                    <li>
                        <form id="demo-2">
                            <input type="search" placeholder="Search" style="padding: 0px 10px 5px";>
                        </form>
                    </li>
                        <img src="~/Content/Images/cart.png" width="25px" height="25px" />
                        <a href="@Url.Action("Dangnhap","Nguoidung")" target="_blank"><img src="~/Content/Images/round-account-button-with-user-inside.png" width="25px" height="25px" /></a>
                    
                </div>

            </div>
            <!--end logo and menu-->
            <!--Banner-->

            



            <!--End banner-->
        </div>
    </div>

    <!--End header-->
    <!--Categories-->
    <div class="CSSgal">

        <!-- Don't wrap targets in parent -->
        <s id="s1"></s>
        <s id="s2"></s>
        <s id="s3"></s>
        <s id="s4"></s>

        <div class="slider">
            <div style="background-image:url(../../Content/Images/bia.png">

            </div>
            <div style="background-image:url(../../Content/Images/all2.jpg);">

            </div>
            <div style="background-image: url(../../Content/Images/all3.jpg);">

            </div>
            <div style="background-image: url(../../Content/Images/all4.jpg);">

            </div>
        </div>

        <div class="prevNext">
            <div><a href="#s4"></a><a href="#s2"></a></div>
            <div><a href="#s1"></a><a href="#s3"></a></div>
            <div><a href="#s2"></a><a href="#s4"></a></div>
            <div><a href="#s3"></a><a href="#s1"></a></div>
        </div>

        <div class="bullets">
            <a href="#s1">1</a>
            <a href="#s2">2</a>
            <a href="#s3">3</a>
            <a href="#s4">4</a>
        </div>

    </div>
    <!--End categories-->
    <div style="color:black;font-size:18px">

        @RenderBody()
    </div>


    <!--End sản phẩm nổi bật-->
    <!--Quảng cáo sản phẩm mới-->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="~/Content/Images/giay-removebg-preview-removebg-preview.png" class="offer-img" />
                </div>
                <div class="col-2">
                    <p style="font-weight:700"><span style="color:white;font-size:20pt">NEW ITEM !!!</span></p>
                    <h1>Nike Dunk Low</h1>
                    <p>350,000₫</p>
                    <p>Only Size:36-44</p>
                    
                    <div class="button">
                        <a href="javascript:buyNow()" class="btn">Buy Now &#10132;</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--END quảng cáo sản phẩm mới-->
    <!--Nhận xét khách hàng-->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Sản phẩm này rất tốt,giao hàng tận tình tôi rất thích.Nói chung rất ưng.
                    </p>
                    <div class="rating">
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Content/Images/tran-thanh-p-16031678576061691914167.png" alt="Alternate Text" />
                    <h3>Trấn Thành</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Sản phẩm này rất tốt,Đây là điều tôi mong chờ.Giao hàng nhanh.
                    </p>
                    <div class="rating">
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Content/Images/unnamed.jpg" alt="Alternate Text" />
                    <h3>Sơn Tùng M-TP</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Sản phẩm này rất tốt. Tôi sẽ mua lại vào lần sau.
                    </p>
                    <div class="rating">
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Content/Images/kyduyen.jpg" alt="Alternate Text" />
                    <h3>Hoa Hậu Kỳ Duyên</h3>
                </div>

            </div>
        </div>
    </div>

    <!--Logo Thương Hiệu -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="~/Content/Images/fb.jpg" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/insta.jpg" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/logo-paypal.png" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/Lazada.jpg" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/shopee.jpg" alt="Alternate Text" />
                </div>

            </div>
        </div>

    </div>

    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!--Phần download app-->
                <div class="footer-col-1">
                    <h3>Dowload Our App</h3>
                    <p> Dowload App for Andriod and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="~/Content/Images/play-store.png" alt="Alternate Text" />
                        <img src="~/Content/Images/app-store.png" alt="Alternate Text" />
                    </div>
                </div>

                
                <!--Usefull link-->
                <div class="footer-col-3">
                    <h3>Hệ Thống Cửa Hàng</h3>
                    <ul>
                        <li>Chi nhánh 1:69/7B Nguyễn Gia Trí,Quận Bình Thạnh,TP.HCM</li>
                        
                    </ul>
                </div>

                <!--Follow us-->
                <div class="footer-col-4">
                    <h3>FOLLOW FANPAGE</h3>
                    <!--API-->
                    <div class="fb-page" data-href="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471/" data-tabs="timeline" data-width="340" data-height="130" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471/">CALA. Tiệm 2hand</a></blockquote></div>

                </div>

            </div>
            <!--chan footer-->
            <hr>
            <p class="copyright">copyright 2021 - CALA Team</p>
        </div>
    </div>
    <!--End footer-->

</body>
</html>

<script type="text/javascript">
    function buyNow() {
        question = confirm("Bạn muốn mua sản phẩm này ? ");
        if (question != false) {
            alert('Cảm ơn bạn đã mua sản phẩm');
        }
    }
</script>