
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    
    <link href="~/Content/style.css" rel="stylesheet" />
    <!---- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"></!-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <div class=" container">
            <div class="navbar">
                <div class="logo">
                    <img src="~/Content/Images/logo.png" width="200px" height="200px" />
                </div>
                <nav>
                    <ul id="MenuItem" style="font-family: 'Times New Roman'">
                        <li><a href="#home">TRANG CHỦ</a></li>
                         @Html.Action("BoSuuTap","ShopSecondHand")
                          
                        <li><a href="#home">CALA</a></li>
                        <li><a href="#home">CHÍNH SÁCH ĐỔI TRẢ</a></li>


                    </ul>
                </nav>
                <img src="~/Content/Images/cart.png" width="25px" height="25px" />
            </div>
            <!--end logo and menu-->
            <!--Banner-->
            
            <div class="col-2 img">
                <img src="~/Content/Images/bia.jpg" />
            </div>
                
                    
                
            
            <!--End banner-->
        </div>
    </div>

    <!--End header-->
    <!--Categories-->
    <div class="CSSgal">

        <!-- Don't wrap targets in parent -->
        <s id="s1"></s>
        <s id="s2"></s>
        <s id="s3"></s>
        <s id="s4"></s>

        <div class="slider">
            <div style="background-image:url(../../Content/Images/all1.jpg);">

            </div>
            <div style="background-image:url(../../Content/Images/all2.jpg);">

            </div>
            <div style="background-image: url(../../Content/Images/all3.jpg);">

            </div>
            <div style="background-image: url(../../Content/Images/all4.jpg);">

            </div>
        </div>

        <div class="prevNext">
            <div><a href="#s4"></a><a href="#s2"></a></div>
            <div><a href="#s1"></a><a href="#s3"></a></div>
            <div><a href="#s2"></a><a href="#s4"></a></div>
            <div><a href="#s3"></a><a href="#s1"></a></div>
        </div>

        <div class="bullets">
            <a href="#s1">1</a>
            <a href="#s2">2</a>
            <a href="#s3">3</a>
            <a href="#s4">4</a>
        </div>

    </div>
    <!--End categories-->
    <div style="color:black;font-size:18px">
        
        @RenderBody()
    </div>
    
   
    <!--End sản phẩm nổi bật-->
    <!--Quảng cáo sản phẩm mới-->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="~/Content/Images/exclusive Product.png" class="offer-img" />
                </div>
                <div class="col-2">
                    <p>Only Available in This Store</p>
                    <h1>Xiaomi Mi Smart Band 4</h1>
                    <small>
                        AMOLED color touch screen with better brightness and 40% more viewable screen.
                        View your call, message and notification.
                        Track physical activity (including swimming).
                        Water resistant up to 50m.
                        Improvement in the meansurement of metrics.
                    </small>
                    <div class="button">
                        <a href="javascript:buyNow()" class="btn">Buy Now &#10132;</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--END quảng cáo sản phẩm mới-->
    <!--Nhận xét khách hàng-->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Sản phẩm này rất tốt,giao hàng tận tình tôi rất thích.
                    </p>
                    <div class="rating">
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Content/Images/tran-thanh-p-16031678576061691914167.png" alt="Alternate Text" />
                    <h3>Lucy Bemana</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Sản phẩm này rất tốt,Đây là điều tôi mong chờ.
                    </p>
                    <div class="rating">
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Content/Images/unnamed.jpg" alt="Alternate Text" />
                    <h3>Brian Stacy</h3>
                </div>

                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>
                        Sản phẩm này rất tốt. Tôi sẽ mua lại vào lần sau.
                    </p>
                    <div class="rating">
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class=" fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <img src="~/Content/Images/user-3.png" alt="Alternate Text" />
                    <h3>Betty Jane</h3>
                </div>

            </div>
        </div>
    </div>

    <!--Logo Thương Hiệu -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="~/Content/Images/logo-coca-cola.png" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/logo-godrej.png" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/logo-paypal.png" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/logo-oppo.png" alt="Alternate Text" />
                </div>

                <div class="col-5">
                    <img src="~/Content/Images/logo-philips.png" alt="Alternate Text" />
                </div>

            </div>
        </div>

    </div>

    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!--Phần download app-->
                <div class="footer-col-1">
                    <h3>Dowload Our App</h3>
                    <p> Dowload App for Andriod and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="~/Content/Images/play-store.png" alt="Alternate Text" />
                        <img src="~/Content/Images/app-store.png" alt="Alternate Text" />
                    </div>
                </div>

                <!--Logo footer-->
                <div class="footer-col-2">
                    <img src="~/Content/Images/logo-one.png" alt="Alternate Text" />
                    <p>Our Purpose Is to Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many</p>
                </div>

                <!--Usefull link-->
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Become Affiliate</li>
                    </ul>
                </div>

                <!--Follow us-->
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>

            </div>
            <!--chan footer-->
            <hr>
            <p class="copyright">copyright 2021 - CALA Team</p>
        </div>
    </div>
    <!--End footer-->

</body>
</html>

<script type="text/javascript">
    function buyNow() {
        question = confirm("Bạn muốn mua sản phẩm này ? ");
        if (question != false) {
            alert('Cảm ơn bạn đã mua sản phẩm');
        }
    }
</script>