
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style type="text/css">
    .aboutus__inner {
        width: 50%;
        margin: 0 auto 0;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 50px;

    }
    .fa-facebook {
        margin-right: 40px;
    }
    .wrap-img img {
        width: 100%;
        /* height: 100%; */
        -o-object-fit: cover;
        object-fit: cover;
    }
  
    </style>
    <div class="aboutus" >
        <div class="aboutus__inner">
            <p> <span style="font-size:30pt;font-weight:700;font-style:normal;"> ABOUT US</span> </p>
            <p class="font-600 fs-36 mgB-20 ">
                Ra đời năm 2020 .CALA mang hoài bão và mục tiêu trở thành giải pháp trang phục hiệu quả để biểu hiện tối đa cá tính mỗi người. Thời gian đầu startup đã gặp không ít khó khăn do định hướng sản phẩm và thông điệp truyền tải đến khách hàng còn chưa cụ thể.
            <p>
                Thời gian đó, phải liên tục thay đổi khái niệm. và nhiều lần muốn từ bỏ .Nhưng hoài bão tuổi trẻ vẫn luôn thôi thúc từng ngày .
            </p>
            <p>
            Đến nay CALA đã có định hướng và đang khẳng định vị thế ổn định trong phân khúc thời trang giới trẻ.
            </p>
            <p>
                Đi đầu trong xu hướng Secondhand với các họa tiết bắt mắt và gu thẩm mỹ cao . Các sản phẩm và thông điệp luôn được giới trẻ chào đón và chấp nhận.
            </p>
            <p>
                Ưu điểm vượt trội về chất lượng sản phẩm cũng như văn hóa bán hàng đậm chất CALA là nền tảng để team CALA thực hiện tham vọng mở rộng và chiếm lĩnh thị trường .
            </p>
            Phong cách hiện đại, thời thượng, cá tính và nổi bật.
            </p>
        </div>
        <div class="wrap-img">
            <img src="~/Content/Images/about1.jpg" alt="">
            <img src="~/Content/Images/about5.jpg" alt="">
            <img src="~/Content/Images/about2.jpg" alt="">
            <img src="~/Content/Images/about3.jpg" alt="">
            <img src="~/Content/Images/about4.jpg" alt="">
        </div>
    <div class="aboutus__inner"        
        </p>
        <p> <span style="font-size:30pt;font-weight:700;font-style:normal;"> LOCATION</span> </p>
        <p class="font-600 fs-18 mgB-20"> 📍 Hẻm 69/47B Nguyễn Gia Trí (D2 Cũ), Quận Bình Thạnh, HCM City, Vietnam</p>
        <p class="font-600 fs-18 mgB-50"> SĐT:0586051406</p>
        <p> <span style="font-size:30pt;font-weight:700;font-style:normal;"> CONNECT US</span> </p>
        <div>
            <a href="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471/" <i="" class="fa fa-facebook" aria-hidden="true" style="
    font-size: 30px;
"> </a>
            <a href="https://www.instagram.com/_cala.2hand/" style="font-size:30px"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>

        </div>

    </div>       
    </div >
    