
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style type="text/css">
    .aboutus__inner {
        width: 50%;
        margin: 0 auto 0;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 50px;

    }
    .fa-facebook {
        margin-right: 40px;
    }
    .wrap-img img {
        width: 100%;
        /* height: 100%; */
        -o-object-fit: cover;
        object-fit: cover;
    }
    </style>
    <div class="aboutus" >
        <div class="aboutus__inner">
            <p> <span style="font-size:30pt;font-weight:700;font-style:normal;"> ABOUT US</span> </p>
            <p class="font-600 fs-36 mgB-20 "> Được ra mắt vào năm 2018 và từ đó đến nay chúng tôi luôn kinh doanh những sản phẩm Secondhand Unisex chất lượng nhất và với mức giá ưu đãi nhất !!!</p>         
        </div>
    <div class="wrap-img" >
    <img src="~/Content/Images/doitra.jpg" alt="" >
    </div >
    <div class="aboutus__inner">
        <p> <span style="font-size:30pt;font-weight:700;font-style:normal;"> Chính sách đổi trả</span> </p>
        <p style="padding-top:20px;">
            <span style="font-weight:400;font-style:normal;">
                Những sản phẩm mua trực tiếp tại cửa hàng hoặc trực tuyến trên Fanpage đều đi kèm theo hoá đơn bán hàng.<br>
                Đối với các đơn hàng ngoại thành, khách hàng sau khi chốt sản phẩm cần mua, sẽ thanh toán 100% giá trị sản phẩm thông qua số tài khoản mà CALA cung cấp.<br>
                Khách hàng có quyền đổi sản phẩm khác trong vòng 3 NGÀY kể từ lúc mua (3 ngày kể từ lúc nhận đối với các đơn hàng ngoại thành).<br>
                Sản phẩm được đổi phải có giá trị bằng hoặc cao hơn sản phẩm đổi và chỉ được đổi một lần.<br>
            </span>
        </p>
        <p> <span style="font-size:30pt;font-weight:700;font-style:normal;"> LOCATION</span> </p>
        <p class="font-600 fs-18 mgB-20"> Hẻm 69/47B Nguyễn Gia Trí (D2 Cũ), Quận Bình Thạnh, HCM City, Vietnam</p>
        <p class="font-600 fs-18 mgB-50"> SĐT:0586051406</p>
        <p> <span style="font-size:30pt;font-weight:700;font-style:normal;"> CONNECT US</span> </p>
        <div>
            <a href="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471/" <i="" class="fa fa-facebook" aria-hidden="true" style="
    font-size: 30px;
"> </a>
            <a href="https://www.instagram.com/_cala.2hand/" style="font-size:30px"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>

        </div>

    </div>       
    </div >
