
@{
    ViewBag.Title = "baohanh";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style type="text/css">
    .aboutus__inner {
        width: 50%;
        margin: 0 auto 0;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .fa-facebook {
        margin-right: 40px;
    }

    .wrap-img img {
        width: 100%;
        /* height: 100%; */
        -o-object-fit: cover;
        object-fit: cover;
    }
</style>
<div class="aboutus">
    <div class="aboutus__inner">
        <p> <span style="font-size:30pt;font-weight:700;font-style:normal;color:black"> Chính sách bảo hành & đổi trả</span> </p>
        <span style="font-weight:300;color:black">
            1. Chính sách đổi trả hàng bán trực tiếp<br />
            + Những sản phẩm mua trong 3 ngày vẫn có thể đổi khi bạn cần đổi size hay vấn đề về sản phẩm lỗi từ nhà sản xuất (điều kiện sản phẩm còn bao bì chưa qua sử dụng, còn bill và tag )<br />
            + Khách hàng vui lòng mang sản phẩm kèm hóa đơn đến một trong những cửa hàng CALA gần nhất để được hỗ trợ đổi sản phẩm.<br />

            <br />
            2. Không áp dụng đổi trả hàng với những trường hợp sau<br />
            + Sản phẩm hư hại bởi những tác nhân bên ngoài không phải từ phía sản xuất.<br />
            + Sản phẩm mua trong đợt giảm giá, sản phẩm trong collection đặc biệt.<br />
            + Chỉ áp dụng đổi size không đổi mẫu<br />
            + Sẽ không giải quyết đổi trả với những trường hợp mất hoá đơn hoặc đã quá thời hạn đổi trả.<br />
            <br />
            3. Chính sách đổi trả hàng đơn online<br />
            + Những sản phẩm mua trong 7 ngày (tính từ ngày nhận được hàng) có thể đổi khi bạn cần đổi size hay gặp bất cứ vấn đề về sản phẩm lỗi từ nhà sản xuất (điều kiện sản phẩm còn bao bì chưa qua sử dụng, còn bill và tag )<br />
            <br />
            4. Không áp dụng đổi trả hàng với những trường hợp sau<br />
            + Sản phẩm hư hại bởi những tác nhân bên ngoài không phải từ phía sản xuất.<br />
            + Sản phẩm mua trong đợt giảm giá<br />
            + Sản phẩm được đổi phải còn nguyên tem và kèm hóa đơn mua hàng<br />
            Sau khi nhận được sản phẩm, CALA sẽ liên hệ với bạn và tiến hành kiểm tra sản phẩm theo quy định đổi sản phẩm (quá trình này mất khoảng từ 2 - 3 ngày).
        </span>
    </div>
    <div class="aboutus__inner"
        </p>
        <p> <span style="font-size: 30pt; font-weight: 700; font-style: normal; color: black"> LOCATION</span> </p>
        <p class="font-600 fs-18 mgB-20"style="font-size:20pt"> 📍 Hẻm 69/47B Nguyễn Gia Trí (D2 Cũ), Quận Bình Thạnh, HCM City, Vietnam</p>
        <p class="font-600 fs-18 mgB-50"style="font-size:20pt"> SĐT:0586051406</p>
        <p> <span style="font-size: 30pt; font-weight: 700; font-style: normal; color: black"> CONNECT US</span> </p>
        <div>
            <a href="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471/" <i="" class="fa fa-facebook" aria-hidden="true" style="
    font-size: 30px;
"> </a>
            <a href="https://www.instagram.com/_cala.2hand/" style="font-size:30px"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>

        </div>

    </div>
</div>
