@model IEnumerable< Web_Bán_Quần_Áo_SecondHand.Models.LoaiSP>

<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">BỘ SƯU TẬP</a>
    <i class="fa fa-chevron-down" aria-hidden="true">

    </i>
    
    <div class="dropdown-content">
        @foreach(var item in Model)
        {
            <a href="@Url.Action("TenLoai","ShopSecondHand" ,new { id = item.MaLoai})" >

            </a>
        }
        <a href="#">T-Shirt</a>
        <a href="#">Shirt</a>
        <a href="#">Jacket</a>
        <a href="#">Hoodie</a>
        <a href="#">Pants</a>
        <a href="#">Short</a>
    </div>
</li>