
@{
    ViewBag.Title = "huongdanmuahang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style type="text/css">
    .aboutus__inner {
        width: 50%;
        margin: 0 auto 0;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .fa-facebook {
        margin-right: 40px;
    }
    

    .wrap-img img {
        width: 100%;
        /* height: 100%; */
        -o-object-fit: cover;
        object-fit: cover;
    }
</style>
<div class="aboutus">
    <div class="aboutus__inner">
        <p> <span style="font-size:30pt;font-weight:700;font-style:normal;"> HƯỚNG DẪN MUA HÀNG</span> </p>
        <p class="font-600 fs-36 mgB-20 ">
            Bước 1: Tìm kiếm sản phẩm yêu thích tại web
        <p
        <p class="font-600 fs-36 mgB-20 ">
            Bước 2: Xem thông tin / hình ảnh sản phẩm và đặt mua hàng<br />

            - Vào giỏ xem đơn hàng kiểm tra đơn hàng cần đặt : đúng mẫu / đúng màu/ đúng size.
        <p>
        <p class="font-600 fs-36 mgB-20 ">
            Bước 3 : Thanh toán ==> Phương thức thanh toán
            <br />
            - Họ & tên người nhận<br />
            - Email người nhận để có thể theo dõi đơn hàng<br />
            - Số điện thoại di động chính xác<br />
            - Tỉnh/ thành phố<br />
            - Quận/ huyện/xã<br />
<p>
        <p class="font-600 fs-36 mgB-20 ">
            Bước 4: Đặt hàng

            Kiểm tra tổng tiền khách sẽ thanh toán = giá sản phẩm + phí ship<br />

            - Chọn "Đặt hàng" là đơn hàng bạn đã đặt thành công
        <p>
        <p class="font-600 fs-36 mgB-20 ">
            Bước 5 : Chờ shop điện thoại và gửi email xác nhận đơn hàng cho quý khách.
        <p>
    </div>
    <div class="wrap-img">
        
        <img src="~/Content/Images/about1.jpg" alt=""> // chèn hình ví dụ

    </div>
    <div class="aboutus__inner"             
        <p> <span style="font-size:30pt;font-weight:700;font-style:normal;"> LOCATION</span> </p>
        <p class="font-600 fs-18 mgB-20"> 📍 Hẻm 69/47B Nguyễn Gia Trí (D2 Cũ), Quận Bình Thạnh, HCM City, Vietnam</p>
        <p class="font-600 fs-18 mgB-50"> SĐT:0586051406</p>
        <p> <span style="font-size:30pt;font-weight:700;font-style:normal;"> CONNECT US</span> </p>
        <div>
            <a href="https://www.facebook.com/CALA-Ti%E1%BB%87m-2hand-104941784794471/" <i="" class="fa fa-facebook" aria-hidden="true" style="
    font-size: 30px;
"> </a>
            <a href="https://www.instagram.com/_cala.2hand/" style="font-size:30px"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>

        </div>

    </div>
</div>
