@model  IEnumerable<Web_Bán_Quần_Áo_SecondHand.Models.SanPham>

@{
    ViewBag.Title = "SPTheoMaLoai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div class="small-container">
<h2 class="title">Loại Sản Phẩm</h2>
<div class="row">

    @foreach (var sanpham in Model)
    {
        <div class="col-4">
            <a href="@Url.Action("Details","ShopSecondHand",new { id = sanpham.MaSP.Trim()})">
                <img src="@sanpham.Image" />
                <h4>@sanpham.TenSP</h4>
                <p class="price ">

                    @sanpham.DonGia.ToString()đ
                    <span class="price-del"></span>
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </a>
            
        </div>
        
    }
</div>
</div>